.PecsCard {
  width: 60cm;
  height: 60cm;
}

.pecimage {
  width: 20cm;
  height: 20cm;
  margin-left: 19cm;
  margin-top: 1cm;
}

.yn {
  margin-top: 1cm;
  margin-left: 25cm;
  width: 10cm;
  height: 1.5cm;
}

.com {
  margin-top: 0.5cm;
  margin-left: 25cm;
  width: 10cm;
  height: 1.5cm;
}

.pecdescription {
  margin-left: 9cm;
  margin-top: 2cm;
}
