.CommunicationCard {
  background-color: #b2dedd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 1em;
  margin-left: 8em;
  width: 13cm;
  height: 5cm;
  font-family: "Martel", serif;
  font-size: 18px;
}

.container-CommunicationCard {
  background-color: #fffbf0;
  /* display:flex; */
  padding: 1px 600px;
}

.delete-btn {
  background-color: #0c0b0b;
  color: white;
  justify-self: center;
}

.edit-btn {
  background-color: #5b8181;
  color: #0c0c0c;
  /* padding: 3px 10px; */
}
